<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
   <div id="app">
       <h1 v-once>{{ name }}</h1>
       <h1  v-text="name"></h1>  <!-- innerText -->
       <h1  v-html="name"></h1>  <!-- innerHTML -->
       <input v-model="name">
       <h1  v-text="name1"></h1>
       <h1  v-html="name1"></h1>
       <input v-model="name1">
   </div>
</body>
</html>

<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:'123',
            name1:'<i>123</i>',
            age:23
        }
    });
</script>